<a href="/people"> ----- BACK TO HOME PAGE ------</a>

<h2>Character Details</h2>
<mat-list role="list">
    <mat-list-item role="listitem"> Name - {{personDetails.name}}</mat-list-item>
    <mat-list-item role="listitem">Birth Year - {{personDetails.birth_year}}</mat-list-item>
    <mat-list-item role="listitem">Eye Color - {{personDetails.eye_color}}</mat-list-item>
    <mat-list-item role="listitem">Gender - {{personDetails.gender}}</mat-list-item>
    <mat-list-item role="listitem">Hair Color - {{personDetails.hair_color}}</mat-list-item>
    <mat-list-item role="listitem">Height - {{personDetails.height}}</mat-list-item>
    <mat-list-item role="listitem">Mass - {{personDetails.mass}}</mat-list-item>
    <mat-list-item role="listitem">Skin Color - {{personDetails.skin_color}}</mat-list-item>
</mat-list>

<h2>Movies worked in so far</h2>
<mat-list role="list">
    <mat-list-item *ngFor="let movie of moviesList">{{movie}}</mat-list-item>
</mat-list>

